{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}      
{% block content %}

    <div class="container middle-container">
        <div class="row">
            <div class="col-4 offset-4">
                <form action="{% url 'login' %}" method="post" class="form text-center">{% csrf_token %}
                <div class="form-group">
                    <label>Enter your username: </label>
                    <input type="text" name="{{ form.username.name }}" class="form-control" placeholder="username" required autofocus>
                </div>
                <div class="form-group">
                    <label>Enter your password: </label>
                    <input type="password" name="{{ form.password.name}}" class="form-control" placeholder="Password" required>
                </div>
                <button class="btn btn-primary btn-white" type="submit">Sign in</button> 
                </form>
            </div>
        </div>
    </div>
{% endblock %}