{% extends 'base.html' %}
{% load static %}
{% block title %}Registration{% endblock %}
{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-4 offset-4">
                        <form action="" method="post" class="form text-center">{% csrf_token %}                
                            <div class="form-group">
                                <label>Enter you email address: </label>
                                <input type="email" name="{{ user_form.email.name }}" class="form-control" placeholder="name@example.com">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label>Enter username: </label>
                                <input type="text" name="{{ user_form.username.name }}" class="form-control" placeholder="Username">
                            </div> 
                            <div class="form-group">
                                <label>Enter first name:</label>
                                <input type="text" name="{{ user_form.first_name.name }}" class="form-control" placeholder="First name">
                            </div>
                            <div class="form-group">
                                <label>Create a password: </label>
                                <input type="password" name="{{ user_form.password.name}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Repeat password: </label>
                                <input type="password" name="{{ user_form.password2.name}}" class="form-control">
                            </div> 
                                <button type="submit" class="btn btn-primary btn-white">Create my account</button>                        
                        </form>
                </div>
            </div>
        </div>

{% endblock content %}
