{% extends 'base.html' %}
{% load static %}
{% block title %}Tag form{% endblock %}
{% block content %}

    <div class="container middle-container">
        <div class="row">
            <div class="col-4 offset-4">
                <form action="" method="post" class="form text-center">{% csrf_token %}
                <div class="form-group">
                    <h1>Enter tag: </h1>
                    <input type="text" name="{{ form.name.name }}" class="form-control" placeholder="Enter your tag">
                </div>
                <button class="btn btn-primary btn-white" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}