{% extends 'base.html' %}
{% load static %}
{% block title %}Task form{% endblock %}
{% block content %}


    <div class="container task-container">
        <div class="row">
            <div class="col-4 offset-4">
                <form method="post" class="form text-center">{% csrf_token %}
                    <div class="form-group">
                    <label for="name">Enter task`s name: </label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value }}" placeholder="Enter your task">
                    </div>
                    <div class="form-group">
                    <label for="description">Enter task`s descriptions: </label>
                    <textarea class="form-control" id="description" name="description">{{ form.description.value }}</textarea>
                    </div>
      <div class="form-group">
        <label for="status">Status</label>      
            <select id="status" class="form-control" name="status">
                {% for status in form.status %}
                  {{ status }}
                {% endfor %}
            </select>
      </div>
      <div class="form-group">
        <label for="creator">Select the creator:</label>
            <select id="creator" class="form-control" name="creator">
                {% for creator in form.creator %}
                  {{ creator }}
                {% endfor %}
            </select>
      </div>    
      <div class="form-group">
        <label for="assigned_to">Specify who the task is assigned to</label>
            <select id="assigned_to" class="form-control" name="assigned_to">
                {% for assigned_to in form.assigned_to %}
                  {{ assigned_to }}
                {% endfor %}
            </select>
      </div>    
      <div class="form-group">
        <label for="tags">Enter the tag:</label>
            <select class="form-control" name="tags">
                {% for tag in form.tags %}
                  {{ tag }}
                {% endfor %}
            </select>
      </div> 
<button class="btn btn-primary btn-white" type="submit">Save</button>
                    </form>     
            </div>
        </div>
    </div>
{% endblock %}